@font-face {
  font-family: 'Booter Zero';
  src:
    url('./fonts/Booter\ -\ Zero\ Zero.woff2') format('woff2'),
    url('./fonts/Booter\ -\ Zero\ Zero.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
  font-size: 74px;
}

body {
  background-color: bisque;
}

h1,
h2 {
  background-color: magenta;
  font-family: 'Booter Zero', serif;
}

h2 {
  background-color: aqua;
}
